body {
  font-family: -apple-system, 'Inter', sans-serif;
}

#theme_toggler {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: #0096c3;
  padding: 20px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.grid-item h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.grid-item p {
  margin-top: 10px;
  font-size: 1rem;
}

.saiba-mais-button {
  margin-top: 30px;
  background-color: #a9d023;
  box-shadow: 0 3px 6px #00000029;
  color: white;
  border: none;
  padding: 5px 18px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
}

